<!DOCTYPE html>
<html>
  <head>
    <title>Peter's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>

    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v3.3&appId=347474209238790&autoLogAppEvents=1"></script>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


</html>
