<!DOCTYPE html>
<html>
  <head>
    <title>Peter's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
